.logo{
	padding-top: 20px;
}
.contacto{
	background: #f76928;
	float: right;
	max-width: 250px;
	height: 40px;
	padding: 10px;
	color: #ffffff;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
		-webkit-border-radius: 0px 0px 5px 5px;
			-o-border-radius: 0px 0px 5px 5px;
				-moz-border-radius: 0px 0px 5px 5px;
	box-shadow: gray 0px 2px 3px;
		-webkit-box-shadow: gray 0px 2px 3px;
			-o-box-shadow: gray 0px 2px 3px;
				-moz-box-shadow: gray 0px 2px 3px;
}

.contacto img, .contacto p{
	display: inline-block;
	vertical-align: top;
}

nav{
	text-align: right;
	padding-top: 20px;
}
nav ul{
	margin-bottom: 0px;
}
nav ul li{
	display: inline-block;
	padding-left: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #0f3374;
	font-weight: bold;
}
nav ul li a:hover{
	color: #0f3374;
}

.banner{
	border-bottom: 5px solid #e2e4e7;
	border-top: 5px solid #e2e4e7;
	background-attachment: relative;
	background: url(../images/banner.jpg);
	background-position: center center;
	min-height: 588px;
	width:100%;
	background-size: 100%;
		-webkit-background-size: 100%;
			-o-background-size: 100%;
				-moz-background-size: 100%;
	background-size: cover;
	color: #ffffff;
}
.banner p{
	font-size: 40px;
	text-align: right;
	padding-top: 100px;
	line-height: 50px;
	word-spacing: 10px;
}
.banner p span{
	font-size: 50px;
	text-shadow:gray 0px 2px 3px;
	font-weight: bold;
}
.banner p span{
	background-image: url(../images/icon-aqui.png);
	background-repeat: no-repeat;
	background-position-y:-15px;
	min-height: 93px;
	background-size: 100%; 
	background-attachment: relative;
	max-width: 100%;
}
.banner ul{
	 list-style-image: url(../images/icon-check.png);
}
.categorias{
	background: url(../images/geometry2.jpg);
	min-height: 500px;
	width: 100%;
	padding:20px 0px 20px 0px;
}
.categorias h2{
	color: #0f3374;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 3px;
}
.categorias h2:before {
	content: url(../images/icon-a.png);
	position: absolute;
	top: -55px;
	left: 25px;
}
.categorias h2:first-letter{
	font-size: 34px;
}
.categorias h3{
	color: #f76928;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}

.categoria__text{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #918f94;
	line-height: 20px;
}
.promocion div:first-child{
	text-align: right;
}

.promocion p{
	padding-top: 0px;
}
.promocion p span{
	background: none;
	text-shadow:none;
	font-size: 12px !important;
}
.promocion p, .promocion p span{
	font-size: 20px;
}
.promocion p, .promocion img{
	display: inline-block;
	vertical-align: middle;
}
.sombra{
	background: rgba(0,0,0,0.6);
	padding: 10px 10px 0px 10px;
	border-radius: 5px;
}
.buttom{
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	background: #f76928;
	padding: 10px 50px;
	color: #ffffff;
	border-radius: 5px;
	font-size: 18px;
	box-shadow: #000000 0px 0.5px 2px;
		-webkit-box-shadow: #000000 0px 0.5px 2px;
			-o-box-shadow: #000000 0px 0.5px 2px;
				-moz-box-shadow: #000000 0px 0.5px 2px;

}
.buttom:hover{
	color: rgba(255,255,255,0.8);
}
.center{
	text-align: center;
}